{% extends "base.html" %}
{% load static %}
{% block title %}LOGIN FOR ACCOUNTS{% endblock title %}
{% block content %}
  <p>THIS IS LOGIN FOR ACCOUNTS</p>
   <div class="slm-form-container">
  <p>
   <input type="button" id="pw-toggle" value="Toggle Password Visibility"
   class="btn btn-primary">
  </p><br>
  
  {% include "baseform.html" with form=form %}
  
  {% if url %}
    <div>

    <h2>Invalid login credentials</h2>
    <p><a href="{{ url }}">Do you need to reset your password</a></p>
    </div>
  {% endif %}


{% endblock content %} 

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="{% static 'js/regFormValidation.js' %}"></script>
<script src="{% static 'js/regFormAjax.js' %}"></script>
{% endblock javascript %}
