<div class="slm-form-error-container">
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p class="field-errors">
                {{ error|escape }}
            </p>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <p class="non-field-errors">
            {{ error|escape }}
        </p>
    {% endfor %}
{% endif %}
</div>
<div class="slm-form-container">  
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <br>	  
{% for f in form %}
  <p><label for="id_{{ f.name }}">{{ f.label }}</label><br>
  {{ f }}
  </p>

{% endfor %}

  <input class="btn btn-success" type="submit" value="Submit">
  </form>
</div> 
